doctype html
html(lang="en")
  head
    title Deep Purple - A color theme
    script(src="clipboard.js" type='text/javascript')
    script(type='text/javascript').
      if (foo) bar(1 + 5)
    link(rel="stylesheet" href="styles.css")
  body
    div.content-layer
      div.content
        img.title-svg(src="title.svg")
        img.squiggle(src="squiggleDivider.svg")
        section.centered
          h3 Implementations
          img(src="circleDivider.svg")
          div.ports-container
            a.ports-link
              img.ports-link__img(src="vscode.png")
              div.ports-link__name VsCode 
              div.ports-link__version α0.1
            a.ports-link
              img.ports-link__img(src="iterm.png")
              div.ports-link__name iTerm2
              div.ports-link__version α0.1
        img.squiggle(src="squiggleDivider.svg")
        section.centered 
          h3 Fancy porting Deep Purple?
          img(src="circleDivider.svg")
          p You’re welcome to develop a port of Deep Purple. All is asked is that you credit me and the original GitHub repo. Feel free to use the colors below by clicking any to copy it to your clipboard.
        img.squiggle(src="squiggleDivider.svg")
        section.full-width.centered
          h3 Colors
          img(src="circleDivider.svg")
          div.colors-warning 
            img(src="warning.svg")
            span Colors are not yet finalized and are subject to change
        div.color-groups
          each colorGroup in Object.entries(colors)
            div.color-group
              h3.color-group__header= colorGroup[0]
              div.color-group__colors
                each item in Object.entries(colorGroup[1])
                  button.color-button(data-color=item[1] style=`--color: ${item[1]}`)
                    div.color-button__swatch    
                    div.color-button__labels
                      div.color-button__name= item[0]
                      div.color-button__color= item[1]